* {
	margin:0;
	padding:0;
}

#grid{
	position: absolute;
	display: none;
	top: 0;
	width:100vw;
	height: 100vh;
	z-index:12005;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(0deg, aliceblue,#0a172b);	
}
#map{ 
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;}
.leaflet-top{
	top:54px
}

#map header {
	display:flex;
	justify-content: space-between;
	height:48px;
	z-index: 11000;
	position: relative;
	user-select: none;
	margin:5px 10px 0px 0px;}
	
#leftbar {
	margin: 0px 5px 0px 5px;
	display:flex;
	z-index: 11000;
	flex:3;
	justify-content: space-around;
	align-items: center;
	width:100%;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 2px;
	background-color:#007bb2;
	font-size: 26px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.2em;
	font-weight: 800;
	text-shadow: 1px 1px 4px black;
	color:white
	}

	
#header > a > img{
	height: 47px;
	z-index: 11001;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	box-sizing: border-box;
	margin-left: 10px;
	background-color:white;
	padding: 2px;
	border-radius: 2px;
	}
	/*przycik ukryj pokaz kontroler warstw*/
.pokaz{
	box-sizing: border-box;
	background-color: rgb(0, 149, 120);
	cursor: pointer;
	align-items: center;
	border: 2px solid rgba(0,0,0,0.2);
	}

.fa-solid{
	margin:5px;
}

.btn-opisowka{
	background-color: rgb(0, 149, 120);
	padding:0 20px;
	cursor:pointer;
	border: 2px solid rgba(0,0,0,0.2);
	color:white;
	font-size: 16px;
	margin:0 5px;
	letter-spacing: 0.2em;
	font-weight: 600;
}

.btn-opisowka:hover{
	background-color:green;
}
.btn-opisowka:active{
	transform:scale(.9);
}

.ukryj-leaflet-control{
	transform: translateX(150%);
}
.leaflet-control-layers{
	transition: .3s all linear;
}


#grid header{
	display:flex;
  height:110px;
  justify-content: space-evenly;
  background-color:  #0a172b;
  align-items: center;
	color:aliceblue;
  z-index: 2;				    
}
#grid a{
  color: aliceblue;
  text-decoration: none;
  display:inline-block
}

#grid .left-header{
  display:flex;
  align-items: center;
  width:160px;
  justify-content: center;
  
}
#grid .left-header img{
  height:80px;
  display:block;
  margin-right: 6px;
}
#grid .right-header img{
	height:60px;
 	background-color: aliceblue;
  display:block;

}

#grid .text{
  width:120px;
}
#grid .top-logo{
  font-size: 22px;
}
#grid .bottom-logo{
  font-size: 12px;
}

#grid .title{
  font-size: 64px;
  text-align: center;
  text-shadow: 2px 2px 8px black;
}

#grid nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0px 5px 0px;
	margin-left:2%;
	width:96vw;
}
#grid ul{    
  display: flex;
	list-style-type: none;
  color:aliceblue;
	align-items: center;
	font-size: 16px;
	border: 1px solid aliceblue;		
}

#grid li{
  padding:10px 14px 10px 14px;
  
	cursor:pointer;
	font-size: 16px;  
  }
#grid li:hover{
    background-color: aliceblue;
		color:#333f51
  }
#grid ul a{
    text-decoration: none;
    color:aliceblue;
}

#grid .grid-select-layer{
	border: 1px solid aliceblue;
	color:black;
	margin-bottom:5px;
	margin-left:2%;
	padding: 8px;
	width:430px;	
}

#grid #example-table{
    width:96%;
	margin:2px auto;	    
}


#wybierz-warstwe-opisowka{
	padding: 2px;
	font-size: 14px;
	background-color: aliceblue;
	border:none;
 }
 #grid label{
	color:aliceblue;
 }

 #grid .powrot{
	background-color:cornflowerblue;
	border:none;
	padding:4px 8px 4px 8px;
	color:aliceblue;
	font-size: 14px;
	cursor: pointer;
 }

 .inactive{
	opacity: 0.3;
	}

@media (max-width: 720px){
  #leftbar{
		font-size: 16px;
		letter-spacing: 0em;
		font-weight: normal;
	}
	#map header{
		margin:0;
		height:40px
		
	}
	#header> a >img{
		margin:0;
		border:none;
		height:40px
	}
	#leftbar{
		margin:0;
		border:none
	}

	.btn-opisowka{
		display:none
	}
  }
